/* Author: Andreas Konrad Ott */
.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.user-verwaltung {
    margin: 10px;
}

.user-row {
    display: grid;
    grid-template-columns: minmax(120px, 25%) 1fr auto;
    grid-gap: 10px;
    align-items: center;
    justify-content:left;
}

.new-password-div {
    display: none;
    margin: 20px
}

.actions-div {
    display: flex;
    flex-direction: row;
}
.actions-div form {
    margin: 0 auto;
    align-self: center;
}
.admin-action-button {
    border: none;
    cursor: pointer;
    margin: 3px;

}
.booking-button {
    width: fit-content;
}
.new-password-div h3 {
    margin-bottom: 10px;
}

@media (max-width: 1150px) {
    .listings-verwaltung {
        display: flex;
        flex-direction: column;
    }
    .car-stats-admin {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    .model-heading-div {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1150px) {
    .listings-verwaltung {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 10px;
    }
    .car-stats-admin {
        padding-left: 10px;
        margin: 10px 0 10px 0;
     }
}

.model {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    margin-top: 10px;
}

