/* Author: Andreas Dinauer */

#total {
    display: none;
    border-top: 1px solid var(--pri-color);
    padding-top: 10px;
}

.checkout-info {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.show {
    display: flex;
}