/* Author: Andreas Dinauer */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend', sans-serif;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    --pri-color: #76BAF1;
    --sec-color: #539FE1;
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
}

*::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

html {
    font-size: 19px;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

body {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: scroll;
}

.colored-text {
    color: var(--sec-color);
}

.site-ident {
    margin: 10px;
}

.footer {
    margin-top: 30px;
}

.nav-link {
    margin: 10px;
}

.inner-footer {
    border-top: 1px solid lightgrey;
}

.nav-footer {
    display: flex;
    justify-content: center;
    position: relative;
}

.copyright {
    position: absolute;
    right: 0;
    opacity: 0.5;
}

button, .button {
    border: 1px solid black;
    height: 2rem;
    padding: 0px 6px;
    border-radius: 300px;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.page {
    width: min(1340px, 100%);
    margin: 0 auto;
}

.page.catalogue {
    display: flex;
}

label, input, textarea {
    display: block;
    margin: 10px;
    width: calc(100% - 20px);
}

.space {
    margin: 10px;
    display: inline-block;
}

label {
    margin-bottom: 5px;
}
input, select {
    margin-top: 0px;
    border: none;
    border-bottom: 1px solid darkgrey;
    background-color: rgba(194, 194, 194, 0.15);
    border-radius: 4px;
    outline: none;
    padding: 4px;
}

select {
    margin: 10px;
    margin-top: 0px;
    width: calc(100% - 20px);
}

/* Code von der Material Seite übernommen */
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    display: inline-block;
    color: black;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.center-button {
    display: block;
    margin: 10px auto;
}


.booking-button {
    background-color: var(--sec-color);
    color: white;
    border: none;
    font-size: 20px;
    height: 2rem;
    margin: 10px auto;
    margin-bottom: 0px;
    padding: 0px 7px;
    width: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
}

/* Search Component */
.search-container {
    background-image: url("../includes/hero-background.jpeg");
    min-height: 500px;
    background-size: 1340px 500px;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
}

.overlay {
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.49);
    display: flex;
    padding: 30px;
    justify-content: center;
}

.car-selector {
    background-color: #c8e6ff;
    width: min(1140px, 100%);
    align-self: center;
    border-radius: 20px;
    padding: 10px;
}

.car-selector select, .car-selector input {
    background-color: white;
}

.display-none {
    display: none;
}

.heading {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.error-box {
    background-color: #d32800;
    border: 3px solid #691500;
    margin: 10px 10px 20px;
}

.error-label {
    color: #ffffff;
    padding: 5px;
}

noscript {
    background-color: var(--pri-color);
    display: flex;
    justify-content: center;
}

noscript p {
    color: white;
    padding: 5px;
}

.warning-box {
    background-color: var(--pri-color);
    margin: 10px;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    display: none;
    color: white;
}

/* Popup */
#popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    width: min(100%, 500px);
    padding: 10px;
    border-radius: 10px;
}

.date-picker-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#close-popup {
    background-color: var(--pri-color);
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.4rem;
    border-radius: 3px;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user: none;
}

#month-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

#prev-month, #next-month {
    font-weight: bold;
    font-size: 1.6rem;
    height: 2rem;
    width: 2rem;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
}

#prev-month:hover, #next-month:hover {
    background-color: #e7e7e7;
}

#date-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.day, .day-name {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    user-select: none;
}

.day {
    border-radius: 200px;
    color: grey;
    text-decoration: line-through;
}

.present {
    color: black;
    text-decoration: none;
}

.present:hover {
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}