/* Author: Author Andreas Ott */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

.header-nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    max-width: 45%;
}


.header .nav-link {
    font-size: 1.2rem;
    margin: 10px;
    font-size: 1.1rem;
    padding: 2px;
}

.call-to-action {
    padding: 6px 10px;
    margin: 10px;
}
.call-to-action p{
    margin-left: 7px;
}

.header .nav-link:not(.button):hover {
    border-bottom: 2px solid var(--pri-color);
    padding-bottom: 0px;
}

.nav-category {
    display: flex;
    justify-content: space-between;
}

.nav-selected {
    border-bottom: 2px solid var(--pri-color);
    padding-bottom: 0px;
}

.site-ident {
    display: flex;
    margin: 10px;
    align-items: center;
}

.site-logo {
    margin-right: 10px;
    height: 40px;
}