/* Author: Andreas Konrad Ott */

.sidebar {
    flex-basis: 240px;
    margin-right: 20px;
}
.sidebar .colors {
    margin: 5px 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
.sidebar .colors > * {
    aspect-ratio: 1/1;
    border-radius: 3px;
}
.colors .red {
    background-color: red;
}
.colors .yellow {
    background-color: #ffd500;
}
.colors .blue {
    background-color: #3084f1;
}
.colors .black {
    background-color: #252525;
}
.colors .grey {
    background-color: #707070;
}
.colors .white {
    background-color: white;
    align-self: center;
    width: 95%;
    height: 95%;
    outline: 1px solid grey;
}
.colors .orange {
    background-color: #f1772b;
}
.colors .green {
    background-color: #3ca436;
}
.colors .brown {
    background-color: #643417;
}
.colors .pink {
    background-color: #f034f8;
}

.models-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
    align-items: flex-start;
    grid-auto-rows: min-content;
    flex: 1;
}

@media screen and (max-width: 1100px) {
    .models-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 880px) {
    .models-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    .models-wrapper {
        grid-template-columns: 1fr;
    }
}

.model {
    border: 1px solid var(--pri-color);
    background: #ececec;
    overflow: hidden;
    height: 100%;
}

.model-anchor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.model-image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
}

.car-stats {
    border-spacing: 0 5px;
}

.car-stats {
    margin:10px;
    display: flex;
    justify-content: space-between;
}

.model-heading-div {
    display: flex;
    flex-direction: column;
}

.model-heading {
    margin: 0 10px 0 10px;
    display: inline-block;
    font-size: 1.3rem;
}

.reset-search-button {
    margin: 10px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid var(--pri-color);
    background: var(--pri-color);
    color: white;
    cursor: pointer;
    justify-content: center;
    font-size: 14px;
    width: calc(100% - 20px);
}

.start-search-button {
    margin: 10px;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid var(--pri-color);
    background: var(--pri-color);
    color: white;
    cursor: pointer;
    justify-content: center;
    font-size: 20px;
    width: calc(100% - 20px);
}

.color-black-label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    color: black;
    font-size: 0;
}

.highlighted {
    border: 3px dashed var(--pri-color);
}