/* Author: Andreas Ott */

.rent-out-page form{
    display: flex;
    margin: 10px;
}

.booking-button {
    width: 80%;
    border-radius: 3px;
}

.listing-input {
    width: 50%;
}
.listing-input label {
    width: 50%;
}
.listing-input p {
    text-align: center;
    margin: 0;
}

.image-input {
    width: 50%;
}
.image-input p {
    padding-left: 10px;
}
.image-input input {
    display: none;
}
.image-input label {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
}

.max-size-input-group {
    grid-column: span 2;
}

.image-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}
.image-preview img {
    border: 1px solid black;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}

.radio-input-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.radio-input {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    width: 33%;
    justify-content: center;
}
.radio-input label {
    cursor: pointer;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.radio-input input {
    display: none;
}

.highlighted {
    background-color: lightblue;
    color: white;
}
.brand-model-wrapper {
    display: flex;
    justify-content: space-between;
}
.brand-model-wrapper div {
    width: 48%;
}