/* Author: Andreas Ott */

.single-model-wrapper {
    margin: 0 auto;
    width: min(1140px, 100%);

}

.single-model-image {
    object-fit: cover;
    aspect-ratio: 16/9;
    padding: 2px;
    width:100%;
}
.single-listing-image-div {
    margin: 0 15px 0 15px;
    width: 70%;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button-a {
    color: darkgray;
    padding: 10px;
    font-size: 20px;
    height: 2rem;
}

.car-stats-group {
    padding: 10px;
    border-radius: 2px;
    margin: 10px;
    border: 2px solid gray;
}

.single-listing-heading {
    font-size: 30px;
    margin: 15px auto 0 auto;
    text-align: center;
}
.single-listing-booking-button {
    background-color: var(--sec-color);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 22px;
    height: 2rem;
    margin: 10px auto 15px auto;
    padding: 10px;
    width: 40%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
}

.horizontal-alignment {
    margin: 10px auto 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.next-image-button-img {
    background-color: var(--pri-color);
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
.next-image-button {
    border:none;
    background-color: transparent;
    height: 50px;
    border-radius: 10px;
    color: transparent;

}