/* Author: Andreas Dinauer */
.account-container {
    display: flex;
}

.account-content {
    flex: 1;
    margin: 10px;
}

/* Author: Johannes Buchberger */
.account-nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    margin-right: 10px;
}
.account-nav .nav-item {
    display: inline-block;
    margin: 10px;
    width: fit-content;
}

/* Header */
.account-header {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.main-heading {
    font-size: 32px;
    margin: 10px;
    display: block;
    text-align: center;
}

.sub-heading {
    font-size: 24px;
    margin: 10px;
    display: block;
    text-align: center;
}

/* Author: Andreas Dinauer */
.bookings-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.success-container {
    background-color: var(--pri-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
}

.success-container span {
    color: white;
    padding-right: 6px;
}

.booking {
    border: 1px solid var(--pri-color);
    background-color: #ececec;
    display: flex;
}

.booking-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking img {
    width: 6.5rem;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.booking-heading {
    margin: 10px;
    display: block;
}
.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.booking-price {
    margin: 10px;
    display: block;
}

/* Account Lisitng Seite */
#listing-container {
    display: grid;
    row-gap: 20px;
    grid-template-columns: auto repeat(5, 1fr) auto;
    margin: 10px;
}
#listing-container h3 {
    margin-left: 10px;
}
#listing-container > p {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #ececec;
}
#listing-container .left {
    border: 1px solid var(--pri-color);
    border-right: none;
}
#listing-container .center {
    border: 1px solid var(--pri-color);
    border-left: none;
    border-right: none;
}
#listing-container .right {
    border: 1px solid var(--pri-color);
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #ececec;
}

#listing-container img {
    width: 6.5rem;
    object-fit: cover;
    aspect-ratio: 4/3;
}

#listing-container .delete-button {
    background-color: var(--pri-color);
    border: none;
    border-radius: 3px;
}

#listing-container .delete-button span {
    color: white;
}

.placeholder {
    visibility: hidden;
}