/* Author: Johannes Buchberger */

.listing-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.listing-container p {
    width: 80%;
}

.listing-container form {
    width: 20%;
}

.delete-listing-button {
    background-color: lightgray;
    color: white;
    border-radius: 5px;

}